[package]
name = "objdiff"
version = "0.3.0"
edition = "2021"
rust-version = "1.65"
authors = ["Luke Street <luke@street.dev>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/encounter/objdiff"
readme = "README.md"
description = """
A local diffing tool for decompilation projects.
"""
publish = false

[profile.release]
lto = "thin"
strip = "debuginfo"

[dependencies]
anyhow = "1.0.68"
bytes = "1.3.0"
cfg-if = "1.0.0"
const_format = "0.2.30"
cwdemangle = "0.1.4"
eframe = { version = "0.20.1", features = ["persistence"] } # , "wgpu"
egui = "0.20.1"
egui_extras = "0.20.0"
flagset = "0.4.3"
log = "0.4.17"
memmap2 = "0.5.8"
notify = "5.0.0"
object = { version = "0.30.2", features = ["read_core", "std", "elf"], default-features = false }
png = "0.17.7"
ppc750cl = { git = "https://github.com/terorie/ppc750cl", rev = "9ae36eef34aa6d74e00972c7671f547a2acfd0aa" }
rabbitizer = "1.5.6"
rfd = { version = "0.10.0" } #, default-features = false, features = ['xdg-portal']
serde = { version = "1", features = ["derive"] }
tempfile = "3.3.0"
thiserror = "1.0.38"
time = { version = "0.3.17", features = ["formatting", "local-offset"] }
toml = "0.5.11"
twox-hash = "1.6.3"
byteorder = "1.4.3"

# For Linux static binaries, use rustls
[target.'cfg(target_os = "linux")'.dependencies]
reqwest = { version = "0.11.14", default-features = false, features = ["blocking", "json", "rustls"] }
self_update = { version = "0.34.0", default-features = false, features = ["rustls"] }

# For all other platforms, use native TLS
[target.'cfg(not(target_os = "linux"))'.dependencies]
reqwest = "0.11.14"
self_update = "0.34.0"

[target.'cfg(windows)'.dependencies]
path-slash = "0.2.1"
winapi = "0.3.9"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1.12"

[target.'cfg(unix)'.dependencies]
exec = "0.3.1"

# native:
[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tracing-subscriber = "0.3"

# web:
[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "0.1.7"
tracing-wasm = "0.2"

[build-dependencies]
anyhow = "1.0.68"
vergen = { version = "7.5.0", features = ["build", "cargo", "git"], default-features = false }
