name: Build

on:
  pull_request:
  push:
    paths-ignore:
      - '*.md'
      - 'LICENSE*'
  workflow_dispatch:

env:
  BUILD_PROFILE: release-lto
  CARGO_TARGET_DIR: target

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -D warnings
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install libgtk-3-dev
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check git tag against Cargo version
        if: startsWith(github.ref, 'refs/tags/')
        shell: bash
        run: |
          set -eou
          version=$(grep '^version' Cargo.toml | awk -F' = ' '{print $2}' | tr -d '"')
          version="v$version"
          tag='${{github.ref}}'
          tag="${tag#refs/tags/}"
          if [ "$tag" != "$version" ]; then
            echo "::error::Git tag doesn't match the Cargo version! ($tag != $version)"
            exit 1
          fi
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.4
      - name: Cargo check
        env:
          RUSTC_WRAPPER: sccache
          SCCACHE_GHA_ENABLED: "true"
        run: cargo check
      - name: Cargo clippy
        env:
          RUSTC_WRAPPER: sccache
          SCCACHE_GHA_ENABLED: "true"
        run: cargo clippy

  fmt:
    name: Format
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -D warnings
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Rust toolchain
        # We use nightly options in rustfmt.toml
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: Cargo fmt
        run: cargo fmt --all --check

  deny:
    name: Deny
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checks:
          - advisories
          - bans licenses sources
    # Prevent new advisories from failing CI
    continue-on-error: ${{ matrix.checks == 'advisories' }}
    steps:
      - uses: actions/checkout@v4
      - uses: EmbarkStudios/cargo-deny-action@v1
        with:
          command: check ${{ matrix.checks }}

  test:
    name: Test
    if: 'false' # No tests yet
    strategy:
      matrix:
        platform: [ ubuntu-latest, windows-latest, macos-latest ]
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install dependencies
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get -y install libgtk-3-dev
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.4
      - name: Cargo test
        env:
          RUSTC_WRAPPER: sccache
          SCCACHE_GHA_ENABLED: "true"
        run: cargo test --release

  build-cli:
    name: Build objdiff-cli
    env:
      CARGO_BIN_NAME: objdiff-cli
    strategy:
      matrix:
        include:
          - platform: ubuntu-latest
            target: x86_64-unknown-linux-musl
            name: linux-x86_64
            build: zigbuild
            features: default
          - platform: ubuntu-latest
            target: i686-unknown-linux-musl
            name: linux-i686
            build: zigbuild
            features: default
          - platform: ubuntu-latest
            target: aarch64-unknown-linux-musl
            name: linux-aarch64
            build: zigbuild
            features: default
          - platform: ubuntu-latest
            target: armv7-unknown-linux-musleabi
            name: linux-armv7l
            build: zigbuild
            features: default
          - platform: windows-latest
            target: x86_64-pc-windows-msvc
            name: windows-x86_64
            build: build
            features: default
          - platform: windows-latest
            target: aarch64-pc-windows-msvc
            name: windows-arm64
            build: build
            features: default
          - platform: macos-latest
            target: x86_64-apple-darwin
            name: macos-x86_64
            build: build
            features: default
          - platform: macos-latest
            target: aarch64-apple-darwin
            name: macos-arm64
            build: build
            features: default
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install cargo-zigbuild
        if: matrix.build == 'zigbuild'
        run: pip install ziglang==0.13.0 cargo-zigbuild==0.19.1
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      - name: Cargo build
        run: >
          cargo ${{ matrix.build }} --profile ${{ env.BUILD_PROFILE }} --target ${{ matrix.target }} 
          --bin ${{ env.CARGO_BIN_NAME }} --features ${{ matrix.features }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.CARGO_BIN_NAME }}-${{ matrix.name }}
          path: |
            ${{ env.CARGO_TARGET_DIR }}/${{ matrix.target }}/${{ env.BUILD_PROFILE }}/${{ env.CARGO_BIN_NAME }}
            ${{ env.CARGO_TARGET_DIR }}/${{ matrix.target }}/${{ env.BUILD_PROFILE }}/${{ env.CARGO_BIN_NAME }}.exe
          if-no-files-found: error

  build-gui:
    name: Build objdiff-gui
    env:
      CARGO_BIN_NAME: objdiff
    strategy:
      matrix:
        include:
          - platform: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            name: linux-x86_64
            packages: libgtk-3-dev
            features: default
          - platform: windows-latest
            target: x86_64-pc-windows-msvc
            name: windows-x86_64
            features: default
          - platform: macos-latest
            target: x86_64-apple-darwin
            name: macos-x86_64
            features: default
          - platform: macos-latest
            target: aarch64-apple-darwin
            name: macos-arm64
            features: default
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install dependencies
        if: matrix.packages != ''
        run: |
          sudo apt-get update
          sudo apt-get -y install ${{ matrix.packages }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.4
      - name: Cargo build
        env:
          RUSTC_WRAPPER: sccache
          SCCACHE_GHA_ENABLED: "true"
        run: >
          cargo build --profile ${{ env.BUILD_PROFILE }} --target ${{ matrix.target }} 
          --bin ${{ env.CARGO_BIN_NAME }} --features ${{ matrix.features }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.CARGO_BIN_NAME }}-${{ matrix.name }}
          path: |
            ${{ env.CARGO_TARGET_DIR }}/${{ matrix.target }}/${{ env.BUILD_PROFILE }}/${{ env.CARGO_BIN_NAME }}
            ${{ env.CARGO_TARGET_DIR }}/${{ matrix.target }}/${{ env.BUILD_PROFILE }}/${{ env.CARGO_BIN_NAME }}.exe
          if-no-files-found: error

  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: [ check, build-cli, build-gui ]
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Rename artifacts
        working-directory: artifacts
        run: |
          set -euo pipefail
          mkdir ../out
          for dir in */; do
            for file in "$dir"*; do
              base=$(basename "$file")
              name="${base%.*}"
              ext="${base##*.}"
              if [ "$ext" = "$base" ]; then
                  ext=""
              else
                  ext=".$ext"
              fi
              arch="${dir%/}" # remove trailing slash
              arch="${arch##"$name-"}" # remove bin name
              dst="../out/${name}-${arch}${ext}"
              mv "$file" "$dst"
            done
          done
          ls -R ../out
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: out/*
